/* Write your code here. */
* {
  box-sizing: 0px;
}

body {
  margin: 0px;
}

.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-heading {
  color: #0f172a;
  font-family: "Roboto";
  font-size: 48px;
  font-weight: 700;
}

.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .boxes-container {
    flex-direction: row;
    align-items: flex-end;
  }
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px;
}
@media screen and (min-width: 768px) {
  .box {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media screen and (min-width: 992px) {
  .box {
    margin-left: 40px;
    margin-right: 40px;
  }
}
.boxSmall {
  background-color: #fbbf24;
  height: 80px;
  width: 80px;
  margin-top: 24px;
}

@medium screen and (min-width: 768px) {
  .boxSmall {
    height: 100px;
    width: 100px;
  }
}
@media screen and (min-width: 992px) {
  .boxSmall {
    height: 120px;
    width: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .boxSmall {
    height: 140px;
    width: 140px;
  }
}

.boxMedium {
  background-color: #38bdf8;
  height: 150px;
  width: 150px;
}

@media screen and (min-width: 768px) {
  .boxMedium {
    height: 200px;
    width: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .boxMedium {
    height: 250px;
    width: 250px;
  }
}
.boxLarge {
  background-color: #ec4899;
  height: 270px;
  width: 270px;
}

@media screen and (min-width: 768px) {
  .boxLarge {
    height: 350px;
    width: 350px;
  }
}

@media screen and (min-width: 992px) {
  .boxLarge {
    height: 400px;
    width: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .boxLarge {
    height: 450px;
    width: 450px;
  }
}

.box-title {
  color: #ffffff;
  font-family: "Bree Serif";
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .box-title {
    font-size: 24px;
  }
}
